/* героя background: #2F303A*/
/* background: #E5E5E5 */
/* основной color: #757575 */
/* вторичный и ссылки color: #212121 */
/* выделенная ссылка color: #2196F3 */
:root{
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --main-font: "Roboto";
    --background-main: #E5E5E5;

    }
html{
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
    background-color: var(--background-main);
   
    }
/* Header */
.logo{
    text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
}
.logo > span {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        
        color: #212121;
}
.list .link{
    text-decoration: none;
}