:root {
  --primary-text-color: #757575;
  --secondary-text: #212121;
  --accent-color: #2196f3;
  --main-font: 'Roboto';
  --background-main: #e5e5e5;
  --pure-white: #ffffff;
  --background-hero: #2f303a;
  --background-our-com: #f5f4fa;
  --background-radio-button: #f5f4fa;
  --background-footer: #2f303a;

  --cubic-hover: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-main);
  letter-spacing: 0.03em;
}
textarea {
  resize: none;
}